---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100..700&display=swap');

body {
    font-family: 'Kantumruy Pro', sans-serif !important;  // 전체 문서 기본 폰트 설정
    padding: 85px 0 0;
    margin: 0px;
    line-height: 1.5;
}

.section_title {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgba(250, 50, 50, 0.9);
    font-size: 100px;
    padding-bottom: 10px;
}

.my_paper {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 14px;
}

p.title {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 900;
    color: rgba(67, 124, 227, 0.96);
    font-size: 20px;
}

p.venue {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgba(50, 105, 203, 1);
}

p.award {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgba(255, 203, 5, 1);
}

.left {
    font-family: 'Kantumruy Pro', sans-serif;
    width: 10%;
    font-weight: 700;
    padding-top: 2px;
    font-size: 16px;
}

.section > p {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 20px;
    text-align: justify;
}

@media screen and (max-width: 1023px) {
    .my_paper {
        font-family: 'Kantumruy Pro', sans-serif;
        font-size: 14px;
    }

    .left {
        font-family: 'Kantumruy Pro', sans-serif;
        font-size: 14px;
    }

    p.title {
        font-family: 'Kantumruy Pro', sans-serif;
        font-size: 20px;
    }

    .section > p {
        font-family: 'Kantumruy Pro', sans-serif;
        font-size: 18px;
    }

    .paper-buttons {
        margin-top: 5px;
    }

    .button {
        font-family: 'Kantumruy Pro', sans-serif;
        display: inline-block;
        height: 25px;
        padding: 0 25px;
        font-weight: 100;
        line-height: 25px;
        text-transform: none;
    }
}

@media screen and (max-width: 768px) {
    .section {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .left {
        width: 100%;
    }

    .right {
        margin-top: -20px;
        width: 100%;
    }
}
